@import url("https://fonts.googleapis.com/css2?family=Khand:wght@400;700&display=swap");

:root {
    --primary-color: #2C3E50;
    --secondary-color: #5F97AA;
    --accent-color-1: #18363E;
    --accent-color-2: #2D5F6E;
    --accent-color-3: #3E88A5;
    --accent-color-4: #93C4D1;
    --accent-color-5: #0058b120;
    --accent-color-6: #2c3e507d;
    --accent-color-7: #3b7085;
    --shadow-color: rgba(0, 0, 0, 0.1); 
    --light-color: #f4f4f4;
    --text-color: #ffffff;
    --font-family: 'Khand', sans-serif;
}

/* Criteria Buttons */
.criteriaWrapper {
    background-color: var(--primary-color); 
    backdrop-filter: blur(2px);
    border-radius: 0px 0px 8px 8px;
    padding: 10px 0px 40px 0px;
    height: 50px;
    width: 100%;
}
.criteriaContainer {
    display: none;
    border-radius: 0px 0px 8px 8px;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    height: 75vh; 
    width: 100vw; 
    gap: 20px;
}
.criteriaContainer h2{
    color: var(--light-color);
    font-weight: bold;
    text-align: center;
    padding: 0px 0px 5px 0px;
    letter-spacing: 0.5px;
    font-size: 2.5rem;
    /* border-bottom: solid 1px var(--light-color); */
}

.criteria-buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
}

.criteria-buttons button {
    position: relative;
    padding: 0px;
    height: 46vh; 
    width: 15vw;
    background: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: var(--light-color); 
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    font-size: 1.1rem;
    box-shadow: 0 4px 6px var(--shadow-color);
    background-size: cover; 
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.criteria-buttons button:disabled {
  background-color: #d3d3d3; /* Light gray background */
  backdrop-filter: blur(10px); 
  color: #808080; /* Gray text */
  cursor: not-allowed; /* Disabled cursor */
  opacity: 0.6; /* Slightly transparent */
}


/* Add hover effect */
.criteria-buttons button:hover {
    /* background: rgba(90, 90, 90, 90); */
    transform: scale(1.10); 
    box-shadow: 0 6px 10px var(--shadow-color);
}

#sportswearCriteria {
    background-image: url('images/Sportswear.png');
    background-size: cover;
}

#eveningGownCriteria {
    background-image: url('images/EveningGown.png');
    background-size: cover;
}

#talentPerformanceCriteria {
    background-image: url('images/TalentPerformance.png');
    background-size: cover;
}

#questionAndAnswerCriteria {
    background-image: url('images/Q&A.png');
    background-size: cover;
}

#overallImpactCriteria {
    background-image: url('images/OverallImpact.png');
    background-size: cover;
}

.criteria-buttons button:hover {
    background-color: var(--accent-color-3);
}